/* common shared style */


body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #fd6e0a;
}

.btn-primary {
    background-color: #fd6e0a;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;

    font-size: 35px;

    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;

    font-size: 18px;

    font-weight: 400;

}



/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;


    align-items: center;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;


}

li a {
    color: dimgray;
}

nav a {
    text-decoration: none;
}


/* header style */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-picture {
    width: 500px;
    /* height: 676px;  */
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;

    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 500px;
}

/* main section style */
main {
    /* max-width: 1140px; */
    margin: 130px 230px;

}

main section {
    margin-top: 130px;
}

/* about section style */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    /* margin: 130px 230px; */
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;



}

.info-title {
    color: #757575;
    text-align: center;

    font-size: 20px;

    font-weight: 400;
}

/* what i do section style */

.what-i-do-description {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-title {
    color: var(--Dark-01, #181818);

    font-size: 20px;

    font-weight: 700;

}

.skill-description {
    color: #757575;

    font-size: 16px;

    font-weight: 400;

}

/* resume style */
.resume-container {
    display: flex;
    gap: 24px;
}

.resume-item-title {
    color: #474747;

    font-size: 25px;


    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    color: #757575;

    font-size: 20px;

    font-weight: 600;
    margin-bottom: 20px;

}

.resume-item-description {
    color: var(--Dark-03, #757575);

    font-size: 16px;

    font-weight: 400;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

footer {
    display: flex;
    padding: 130px 200px;
    background: #FFF8F3;
    gap: 100px;
}

.footer-column {
    width: 50%;
    gap: 100px;
}
.social-link a{
    margin-right: 25px;
}

.contact input[type="text"], .contact input[type=email],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}